@import "bootstrap";
.navbar{border-radius: 0px;}
a {cursor: pointer;}

/**
*** Version Box
**/

.version-box {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 2px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  p {
    margin:0px;
    color: grey;
    a {
      color: grey;
      text-decoration: underline;
      &:hover {
        color:black;
      }
    }
  }
}

/**
*** Input Group / Select
**/

.select-styling {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  width: 100%;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.custom-select {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.input-group-prepend {
    margin-right: -1px;
}

.plus {
    vertical-align: -0.5em;
}
